
:root {
  scroll-behavior: smooth;
}
body {
  margin: 0 10px;
  font-family: 'Zilla Slab', serif;
  overflow-x: hidden;
}
p{ 
  font-size: 17px;
  text-align: inherit;
  font-family: 'Zilla Slab', serif;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  font-size: 60px;
  font-family: 'Prata', serif;
}
h2 {
  font-family: 'Zilla Slab', serif;
}
span {
  font-family: 'Zilla Slab', serif;
  font-size: 16px;
}
.button-one {
  border-radius: 50px;
  border: none;
  padding: 1em 5em;
  width: fit-content;
  background: #9fcfff;
  box-shadow: 1px 1px 10px 1px #59bcff;
  color: white;
  cursor: pointer;
  transition: .2s ease-in;
}
.button-one:hover {
  box-shadow: 1px 4px 14px 1px #59bcff;
}
input {
  font-size: 10px;
  height: 4em;
  outline: none;
  letter-spacing: 1px;
  margin-bottom: 4em;
  border: transparent;
  font-family: 'Zilla Slab', serif;
  border-bottom: 2px solid #00000017;
  width: 76%;
}
textarea {
  width: 52em;
  margin-bottom: 4em;
  height: 60px;
  outline: none;
  font-size: 12px;
  border: transparent;
  border-bottom: 2px solid #00000017;
}
input:focus-visible {
  outline:none,
}
.center {
  margin: auto;
}

/* SVG ..............*/

/* SVG HOME*/
.svg-home {
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 36em;
  height: 49em;
  top: 0em;
}

/* PETS-HOME */
.animal-home{
  transform: translateY(-45em);
  animation: trayectoria 26s 0s cubic-bezier(0.21, 0.16, 0.77, 0.77) infinite;
 }
.animal{
  margin: 10em 0 ;
}

/* ANDRES */
.andres-home {
  animation: move-globo 1s ease-in-out infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}
#ojoiz-andre {
  animation: ojos-andre 1s ease-in-out infinite alternate;
}
#ojoder-andre {
  animation: ojos-andre 1s ease-in-out infinite alternate;
}

/* CRISTAL */
.cristal-home {
  animation: move-globo 1s ease-in-out infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}
#cola-cris {
  animation: move-cola-cris 1s ease-in-out infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}
#ojoder-cristal {
  animation: ojos-cris 1s ease-in-out infinite alternate;
  transform-box: fill-box;
}
#ojoiz-cristal {
  animation: ojos-cris 1s ease-in-out infinite alternate;
  transform-box: fill-box;
}

/* LUNA */
.luna-home {
  animation: move-globo 1s ease-in-out infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}
#cola-luna {
  animation: cola-luna 1s ease-in-out infinite alternate;
  transform-origin: left;
  transform-box: fill-box;
}
#orejader-luna {
  transform-box: fill-box;
  transform-origin: top;
  transform: inherit;
}
#orejaiz-luna {
  transform-box: fill-box;
  transform-origin: top;
  transform: inherit;
}
#ojoder-luna {
  transform-box: fill-box;
  animation: ojo-luna 1s ease-in-out infinite alternate;

}

/* LUNA-ABOUT */
.ojo {
  transform: translateY(170em) scale(.8) translateX(200em);
  animation: 1s ojo1 ease infinite alternate;
}
#pierna1 {
  transform-origin: top;
  transform-box: fill-box;
  animation: pierna1 1s ease-in-out infinite alternate;
}
#pierna2 {
  transform-origin: top;
  transform-box: fill-box;
  animation: pierna2 1s ease-in-out infinite alternate;
}
#brazos {
  transform-origin: right;
  transform-box: fill-box;
  animation: brazos 1s ease-in-out infinite alternate;
}
#brazoss {
  transform-origin: right;
  transform-box: fill-box;
  animation: brazos 1s ease-in-out infinite alternate;
}
#Ellipse-17 {
  animation: sombra1 1s ease-in-out infinite alternate;
}

/* PETS-WORK */
.pets {
  transition: 1s ease ;
}
.cara {
  margin: auto;
  transform: translateY(348em);
  transition: .6s ease ;
}
.movecara {
  transform: translateY(144em);
}
.patas {
  position: absolute;
  height: 89px;
  z-index: 0;
}
.li-works *{
  order: 1;
}
.li-works .imgwork {
  order: 2;
}

/* MODAL */
.svg-modal {
  position: absolute;
  top: 102px;
  right: 105px;
  transform: scaleX(-1);
}
.modal {
  top: 0;
  position: fixed;
  background: #000000de;
  width: 100vw;
  margin: -10px;
  height: 110vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.title-modal {
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
}
.carousel-modal {
  width: 25em;
  height: 25em;
  margin: 0 2em;
}
.h1-modal {
  font-size: 55px;
  margin: 1.5em 0 0 0;
  text-align: center;
}
.container-modal {
  display: grid;
  grid-template-columns: repeat(1, 80%);
  width: 74em;
  justify-items: center;
  background-color: #002166;
}
.h2-modal {
  font-size: 20px;
  margin: 4px 0 2em 0;
  text-align: center;
}
.p-modal {
  font-size: 20px;
  margin: 4px 0 1em 0;
  text-align: justify;
}
.info-modal {
  width: 40em;
  margin: 4em 0;
}
.content-modal {
  margin: 6em 4em;
  background: white;
  width: 93vw;
  height: 90vh;
  position: fixed;
  top: -48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-modal {
  display: inherit;
}
.modal-title {
  color: #ffffff;
}
.modal-background {
  background-color: #002166;
}

/* farol */
#farol {
  animation: farol-move 1.4s cubic-bezier(0.71, 0.77, 0.59, 0.57) infinite alternate ;
}
.palanca {
  transform: rotate(22deg);
  cursor: pointer;
}
.palanca-top {
  transform-box: fill-box;
  transform-origin: right;
  animation: palanca-top 1.4s cubic-bezier(0.12, 0.46, 0.75, 0.36) alternate forwards;
}
.palanca-bottom {
  transform-box: fill-box;
  transform-origin: right;
  animation: palanca-bottom 1.4s cubic-bezier(0.12, 0.46, 0.75, 0.36) alternate forwards;
}
.luz-externa {
  animation: farol-move 1.4s cubic-bezier(0.71, 0.77, 0.59, 0.57) infinite alternate ;
}
.luz-interna {
  animation: snow-luz 1.4s cubic-bezier(0.71, 0.77, 0.59, 0.57) infinite alternate;
  width: 93px;
  position: absolute;
  bottom: -10em;
  z-index: -1;
  left: 14.9em;
}

/* CRISTAL-CONTACT */
.cristal {
  width: 20em;
  height: 20em;
  display: flex;
  margin: 15em auto;
  justify-content: center;
  align-items: center;
}
.cola {
  animation: 2s ease cola infinite alternate;
  transform-origin: bottom;
  transform: translateY(2em);
  transform-box: fill-box;
  animation-fill-mode: forwards;
}
.ojoiz {
  animation: ojoiz ease 3s infinite alternate;
}
.ojode {
  animation: ojode ease 3s infinite alternate;
}
.pelota {
  animation: pelota ease 3s infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
.sombrapelota {
  animation: sombra ease 3s infinite alternate;
}

/* kEYFRAMES ................*/

/* PETS-HOME */
@keyframes trayectoria {
  0% {
    transform: translateY(45em);
  }
  100% {
    transform: translateY(-154em);
  }
}
@keyframes move-globo {
  0% {
    transform: rotateZ(4deg);  
  }
  100% {
    transform: rotateZ(-4deg);
  }
}

/* POSTE*/
/* farol */
@keyframes farol-move {
  0% {
    transform: translateY(129em);
  }
  100% {
    transform: translateY(0em);
  }
}
@keyframes palanca-top {
  0% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(22deg);
  }
}
@keyframes palanca-bottom {
  0% {
    transform: rotate(22deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
@keyframes snow-luz {
  0% {
    transform:translateY(40px);
  }
  100% {
    transform:translateY(0px);
  }
}
/* background */
@keyframes color {
  0% {
    background-color: #fffec8;
  }
  50% {
    background-color: #ffc8c8;
  }
  70% {
    background-color: #c9c8ff;
  }
  100% {
    background-color: #fff1c8;
  }
}

/* andres */
@keyframes ojos-andre {
  0% {
    transform: rotateZ(-10deg) scale(1.1);
    transform-box: fill-box;
  }
  100% {
    transform: rotateZ(6deg) scale(1.1);
    transform-box: fill-box;
  }
}

/* cristal */
@keyframes move-cola-cris {
  0% {
    transform: rotateZ(8deg);
  }
  100% {
    transform: rotateZ(-18deg);
  }
}
@keyframes ojos-cris {
 0% {
  transform: translateY(31px);
 }  
 100% {
  transform: translateY(-200px);
 }
}

/* luna */
@keyframes cola-luna {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes ojo-luna {
  0% {
    transform: skewY(14deg) translateX(-102px);  
  }
  100% {
    transform: skewY(3deg) translateX(164px);
  }
}

/*LUNA-ABOUT*/
@keyframes sombra1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform:  translateX(-58em);
  }
}
@keyframes ojo1 {
  0% {
    transform: translateY(187em) translateX(694em) scale(1.1);
  }
  100% {
    transform: translateY(171em) translateX(694em) scale(1.1);
  }
}
@keyframes brazos {
  0% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes pierna1 {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-14deg);
  }
}
@keyframes pierna2 {
  0% {
    transform: translateY(20em) rotate(-11deg);
  }
  100% {
    transform: translateY(20em) rotate(19deg);
  }
}
/* CRISTAL-CONTACT */
@keyframes sombra {
  0% {
    transform: translateX(0px) ;
  }
  100% {
    transform: translateX(-484em);
  }
}
@keyframes pelota {
  0% {
    transform: translateX(0px) rotateZ(279deg);
  }
  100% {
    transform: translateX(-484em);
  }
}
@keyframes cola {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(8deg);
  }
}
@keyframes ojode {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-175px);
  }
}
@keyframes ojoiz {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-175px);
  }
}

/* MENU */
@keyframes nav1move {
  from {
    right: 0px;
    opacity: 0;
  }
  to {
    right: -66em;
    opacity: 1;
  }
}

@keyframes nav2move {
  from {
    right: 0px;
    opacity: 0;
  }
  to {
    right: -66em;
    opacity: 1;
  }
}

@keyframes nav3move {
  from {
    right: 0px;
    opacity: 0;
  }
  to {
    right: -66em;
    opacity: 1;
  }
}

@keyframes nav4move {
  from {
    right: 0px;
    opacity: 0;
  }
  to {
    right: -66em;
    opacity: 1;
  }
}


/* Menu */
.menu-header {
  width: 2em;
  position: fixed;
  top: 60px;
  height: 2em;
  z-index: 0;
  right: 40px;
  cursor: pointer;
}
.navegation {
  position: fixed;
  top: 29em;
  right: -191px;
  display: flex;
  flex-direction: row;
  transform: rotateZ(90deg);
}
.navegation-a {
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-right: 37px;
}

/*SECTION HOME */
.section-home {
  background: #ebf6ff;
  height: 100vh;
  padding: 0px 160px 0 35px;
  display: grid;
  grid-template-columns: repeat(3, 10% 50% 40%);
}
.li-link {
  display: flex;
  height: auto;
  padding: 3px;
  width: 19px;
  flex-direction: column;
  justify-content: center;
}
.a-facebook {
  margin-left: 3px;
}
.a-link {
  width: 16px;
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .2s ease-in;
  justify-content: center;
}
.a-link:hover {
  transform: scale(1.3);
}
.container-home {
  display: flex;
  align-items: flex-start;
  padding: 7em 7em 7em 0em;
  flex-direction: column;
  justify-content: center;
}
.home-fondo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-home {
  padding: 17em;
  color: transparent;
  border-radius: 50%;
  animation: color  26s cubic-bezier(0.21, 0.16, 0.77, 0.77) infinite;
}
.h2-home {
  font-size: 20px;
  margin: 0;
  font-weight: lighter;
}
.h1-home {
  margin: 2px 0 0 0 ;
}
.p-home {
  font-size: 22px;
  letter-spacing: 0.7px;
  margin: 16px 0 40px 0;
}
.img-home {
  background: bisque;
  width: 35em;
}

/*SECTION ABOUT */
.section-about {
  display: grid;
  grid-template-columns: repeat(1, 40% 40%);
  padding: 34px 4em;
  background: #d3e4ff;
  height: 65vh;
  justify-content: center;
  align-items: center;
}
.container-about {
  width: 21em;
}
.background-about {
  border: 8px solid #d3e4ff;
  position: relative;
  padding: 150px;
  top: 10em;
  border-style: dotted;
  color: transparent;
  right: -0.3em;
}
.info-about {
  padding: 20px 3.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-about {
  position: relative;
  left: 34px;
  width: 20em;
  border-style: dotted;
  border: 7px solid #aabcff;
  height: 20em;
  top: 12px;
}
.h1-about {
  color: rgb(0, 0, 0);
  font-size: 50px;
  margin: 7px 0px;
  font-variant: small-caps;
}
.p-about {
  font-size: 18px;
  color: rgb(0, 0, 0);
  letter-spacing: .3px;
}
.hr-about {
  color: #c3daff;
  letter-spacing: 6px;
  margin: -10px 0;
  font-size: 35px;
  -webkit-text-security: disc;
}

/* SECTION WORK */
.section-works {
  padding: 7em 1em;
  background: #ebf6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgwork {
  position: relative;
}
.h1-works {
  font-size: 50px;
  color: black;
}
.ul-works {
  display: flex;
  width: 62em;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}
.li-works {
  display: flex;
  width: 20em;
  height: 17em;
  cursor: pointer;
  position: relative;
  list-style: none;
  margin: 8px 5px;
  align-items: center;
  flex-direction: column;
}
.li-works:hover + .cara:hover {
  transform: translateY(0);
}
.hr-works {
  margin: 0.1em auto;
  text-align: center;
  color: #3a70ab;
  -webkit-text-security: circle;
  letter-spacing: 1px;
}

/* MODAL */

/* CONTACT */
.footer-contact {
  background-color: #ebf6ff;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-contact {
  background: white;
  width: 85vw;
  box-shadow: 1px 1px 20px 9px #0000004f;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 50% 50%);
  justify-items: start;
}
.content-contact {
  display: flex;
  flex-direction: column;
  padding: 5em 0em;
  width: 100%;
}
.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-contact {
  background-color: #d3e4ff;
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 100%;
}
.title-contact {
  text-align: center;
  font-size: 55px;
  margin-bottom: 1em;
}


/* iconButton */
/* .button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonsvg {
  width: 11em;
  height: 3em;
}
.aroiz {
  transform: rotateZ(
    180deg) translateX(-1730em) translateY(-270em);
}
.aroder {
  transform: rotateZ(
    180deg) translateX(-263em) translateY(-264em);
} */